.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #c5e4e7;
  direction: rtl;
  color: #5b8282;
  text-align: center;
  padding: 20px;
  position: relative;
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    h1 {
      word-spacing: normal;
      font-weight: 600;
      font-size: 42px;
    }
    input,
    button {
      color: #5b8282;
      font-size: 20px;
      direction: rtl;
    }
    .formSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      input {
        padding: 5px 10px;
        outline: none;
        background-color: hsl(189, 41%, 97%);
        border: 2px solid hsl(189, 41%, 97%);
        border-radius: 5px;
        border-width: 1px;
        &:focus {
          border-color: hsl(172, 67%, 45%);
        }
        &::placeholder {
          color: hsl(184, 14%, 56%);
        }
      }
      button {
        background-color: hsl(189, 41%, 97%);
        border: 2px solid hsl(189, 41%, 97%);
        border-radius: 5px;
        color: #658292;
        cursor: pointer;
        padding: 10px;
      }
    }
    .taxInfo {
      width: calc(100vw * 2 / 3);
      color: white;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      align-items: center;
      background: #00494d;
      padding: 30px;
      border-radius: 5px;
      gap: 50px;
      text-align: center;
      @media only screen and (max-width: 800px) {
        width: 95%;
      }
      span {
        color: #26c0ab;
      }
      .years {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        width: 100%;
      }
      .icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
      }
      animation: upAnimate 0.5s cubic-bezier(0.35, 1.51, 0.44, 0.96);
    }
  }
  .shareSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    align-self: flex-start;
    width: max-content;
    gap: 5px;
    margin-right: 10px;
    @media only screen and (max-width: 800px) {
      align-self: center;
    }
    .shareIcons {
      display: flex;
      width: max-content;
      justify-content: space-evenly;
      button {
        &:hover {
          scale: 1.1;
          transition: all 0.1s ease-in;
        }
      }
    }
  }
  .credit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    @media only screen and (max-width: 1200px) {
      font-size: 17px;
    }
    @media only screen and (max-width: 800px) {
      font-size: 15px;
    }
  }
}

.modalOverlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.162);
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 999;
}

.modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 75%;
  background-color: #c5e4e7;
  color: #5b8282;
  border-radius: 10px;
  padding: 30px;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    overflow-y: auto;
    padding: 20px;
    height: 95%;
  }
}

.modalText {
  font-size: 15px;
  text-align: right;
  direction: ltr;
  @media only screen and (max-width: 1000px) {
    font-size: 12px;
  }
  @media only screen and (max-width: 800px) {
    text-align: center;
  }
}

.gridTable {
  width: 35%;
  height: 40%;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  & td {
    text-align: center;
    padding: 3px;
  }
  @media only screen and (max-width: 1000px) {
    font-size: 12px;
  }
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}

@keyframes upAnimate {
  from {
    transform: translateY(40px) scale(0.95);
    opacity: 0;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  & label {
    margin-bottom: 5px;
  }
}
